* {
    padding: 0px;
    margin: 0px;
    font-family: 'Courier New', Courier, monospace;
}

body{
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.part1, .part2, .part3, .part4{
    padding-left: 15%;
    padding-right: 15%;
}

.part1, .footer{
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    color: white;
}

.part1 {
    justify-content: space-between;
    column-gap: 16px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 32px;
}

.subheader {
    display: flex;
    justify-content: space-around;
    gap: 48px;
}

.hlogo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: 900;
}

h1 {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.left p {
    font-size: 18px;
    color: #e5e7eb;
}

.part1 button {
    background-color: #3882f6;
    color: white;
    border: none;
    border-radius: .75em;
    padding: 8px 32px;
}

.footer {
    margin-top: auto;
    align-items: center;
    padding: 32px;
}

.left {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 48px;
    justify-content: center;
    align-items: flex-start;
}

.p1img {
    flex: 1;
    background-color: gray;
    width: 600px;
    height: 300px;
    text-align: center;
    margin: 32px;
}

.part2 {
    display: flex;
    align-items: center;
    gap: 32px;
    flex-direction: column;
    padding: 32px;
}

.p2boxes {
    display: flex;
    justify-content: space-around;
    gap: 32px;
    flex-wrap: wrap;
}

.p2box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 200px;
    text-align: center;
    flex: 1 1 auto;
}

.bbox {
    border-radius: .75em;
    border: 3px solid blue;
    width: 12em;
    height: 12em;
    margin: 16px;
}

.p2box {
    display: flex;
    flex-direction: column;
}


.part3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #e5e7eb;
    padding-top: 3em;
    padding-bottom: 3em;
    padding-left: 8em;
    padding-right: 8em;
    font-size: 36px;
    color: #1f2937;
}

.quote {
    font-style: italic;
    font-weight: lighter;
}

.sig {
    align-self: flex-end;
}

.bold {
    font-weight: bold;
}

.part4 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.innerp4 {
    background-color: #3882f6;
    display: flex;
    justify-content: space-around;
    gap: 64px;
    padding: 2em 5em;
    margin: 48px;
    border-radius: .75em;
    color: white;
    font-size: 18px;
}

ul {
    display: flex;
    list-style: none;
    gap: 16px;
    margin: 0px;
    padding: 0px;
}

a{
    color: white;
    text-decoration: none;
}

.innerp4 button {
    background-color: #3882f6;
    color: white;
    border-color: white;
    padding: 8px 32px 8px 32px;
    border-style: solid;
    border-radius: .75em;
}